body{
    background-color: #3d3939;
    background-image: url("../images/logoNewMe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-size: 30%;
}

.page {
    display: inline-block;
    width: 100%; 
    height: 150%;
}

.element:nth-child(2){
    float: right;
    width: 50%;
    height: 100%;
    margin-right: 27%;
    text-align-last: center;
}

.element:nth-child(1){
    float: left;
    height: 100%;
}

#root{
    height: 100%;
    width: 100%;
}