.button_profil {
    border: none;
    background: none;
    size: 100%
}

.fa-circle-user {
    border: 2px solid #a09f9f;
    border-radius: 90%;
    font-size: 85px;
    size: 150px;
    background-color: #a09f9f;
    color: #3d3939;
    position: absolute;
    margin-left: 69%;
    /* float: right; */
}

.fa-circle-user:hover {
    border-radius: 90%;
    border: 2px solid #3d3939;
    cursor: pointer;
    background-color: #3d3939;
    color: #a09f9f;

}

.bienvenue_text {
    color: #52a2fa
}

a {
    border: none;
}