.index_accueil {
    text-align: center;
}

body {
    background-color: #3d3939;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: auto;
    background-position-x: center;
    background-size: 30%;
    height: 42rem;
}