.inscription{
    margin: 3%;
    padding: 3%;
    background-color: #a09f9f;
    width: 40%;
    border-radius: 30px;
}

#inscription h2{
    text-align: center;
}

.text_zone{
    border-radius: 8px;
    margin: 5px;
    width: 95%;
    background-color: #655b5b;

}

.text_zone input{
    background-color: #655b5b;
    border:transparent;
    color: #d9d9d9;
}
.text_zone input::placeholder{
    color: #d9d9d9;
}

.button_submit{
    border-radius: 10px;
    margin: 5px;
    width: 95%;
    background-color: #980012;
    transition: all 0.3s ease-out; 
    text-align: center;
    color: #d9d9d9;
    border: none;
}
.button_submit:hover{
    background-color: #d9d9d9;
    color:#980012;
    transition: all 0.3s ease-out; 
    cursor: pointer;
    border: none;
}