#inscription{
    margin: 3%;
    padding: 3%;
    background-color: #a09f9f;
    width: 40%;
    border-radius: 30px;
}

.text_zone{
    border-radius: 8px;
    margin: 5px;
    width: 60%;
    background-color: #655b5b;
    margin-left: 20%;

}

.text_zone input{
    background-color: #655b5b;
    border:transparent;
}
.text_zone input::placeholder{
    color: #d9d9d9;
}
.text_zone_button{
    border-radius: 8px;
    margin: 5px;
    width: 60%;
    background-color: #980012;
    margin-left: 20%;
    transition: all 0.3s ease-out; 
    text-align: center;
    color: #d9d9d9;
}
.text_zone_button:hover{
    background-color: #d9d9d9;
    color:#980012;
    transition: all 0.3s ease-out; 
}
