.deconnexion,
.modifierProfil {
    border-radius: 10px;
    margin: 5px;
    width: 60%;
    background-color: #980012;
    margin-left: 20%;
    transition: all 0.3s ease-out;
    text-align: center;
    color: #d9d9d9;
    padding: 3px;
}

.modifierProfil {
    border: none;
    margin: 2px;
}

.deconnexion:hover,
.modifierProfil:hover {
    background-color: #d9d9d9;
    color: #980012;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.profil {
    background-color: #a09f9f;
    border-radius: 10px;
    padding: 3%;
    padding-top: 0;
}

.formulaireProfil {
    background-color: #a09f9f;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.objectifs-profil {
    background-color: #a09f9f;
    border-radius: 10px;
    padding: 1%;
}

.fa-circle-user{
    font-size: 700%;
    position: absolute;
    left: 25%;
    top:5%
}

.text{
    font-size: 150%;
}

.popup-content {
    margin: auto;
    background-color: #a09f9f;
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    background-blend-mode: darken;
  }
  .popup-arrow {
    color: #a09f9f;
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
  .fa-pencil{
    border:solid 1px #3d3939;
    border-radius: 100%;
    font-size: 45%;
    margin: 1px;
    margin-left: 42%;
    padding: 6px;
    background-color: #3d3939;
    color:#d9d9d9 ;
    position: absolute;
    bottom:1%;
    right: 5%;  
  }

  .fa-pencil:hover{
    border:solid 1px #d9d9d9;
    border-radius: 100%;
    font-size: 46%;
    margin: 1px;
    margin-left: 42%;
    padding: 6px;
    background-color: #d9d9d9;
    color:#3d3939 ;
    position: absolute;
    bottom:1%;
    right: 5%;    
    cursor: pointer;
  }

  .fa-circle-xmark {
    font-size: 2rem;
    color: #3d3939;
    background-color: #d9d9d9;
    transition: all 0.3s ease-out;
    border-radius: 110%;
    position: absolute;
    bottom:1%;
    right: 0.5%;
}

.fa-circle-xmark:hover{
    color: #d9d9d9;
    background-color: #3d3939;
    cursor: pointer;
}

.button_form{
  border-radius: 10px;
  margin: 5px;
  width: 95%;
  background-color: #980012;
  transition: all 0.3s ease-out; 
  text-align: center;
  color: #d9d9d9;
  border: none;
}

.button_form:hover{
  background-color: #d9d9d9;
  color:#980012;
  transition: all 0.3s ease-out; 
  cursor: pointer;
  border: none;
}