.rgpd_div_globale {
    background-color: #3d3939;
    opacity: 94%;
    color: #d9d9d9;
    width: 100%;
    height: 100%;
    text-align: center;
    position: 50%;
}

.title_page,
.description_page,
.date_modification {
    font-weight: bold;
    text-decoration: underline;
}